@{
    ViewBag.Title = "Index";
}

@section scripts
{

    @Scripts.Render("~/bundles/SignalR")
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $(function () {

            var cnn = $.connection.exemploHub;
            var data = new Date();

            cnn.client.exibirMensagem = function (mensagem) {

                $("#mensagemArea").append(data.toLocaleDateString() + " " + data.toLocaleTimeString() + " " +mensagem + "<br/>");

            }

            function Enviar() {

                var texto = $("#valor").val();

                cnn.server.mensagemParaTodos(texto);
            }

            $.connection.hub.start();

            $("#btnEnviar").click(function () {

                Enviar();

                $("#valor").val("");
            });


            $(document).keypress(function (e) {

                if (e.which == 13) {
      
                    Enviar();

                    $("#valor").val("");

                }
            })

        });

    </script>

}

<hr />
<div class="form-group">
    <label for="valor">Mensagem:</label>
    <input type="text" id="valor" class="form-control" placeholder="Digite sua mensagem..." autofocus autocomplete="off" />

    <br />
    <button type="button" id="btnEnviar" class="btn btn-primary">Enviar</button>

</div>

<hr />
<label>Mensagens:</label>
<div class="form-group" id="mensagemArea"></div>

